{% extends 'blog/base.html' %}

{% load material_form %}

{% block content %}
    <div class="card posts">
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="card-content">
                <div class="card-title"><h2 class="form-title">New Comment<h2></div>
                {% form form=form %}{% endform %}
            </div>

            <div class="card-action">
                <div class="right-align">
                    <button type="submit" title="New post" class="btn-flat pull-right">Enviar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
