{% load staticfiles %}

<html>
    <head>
        <title>My blog</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% include 'material/includes/material_js.html' %}

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper green">
                    <div class="row">
                        <div class="col s12">
                            <a href="/" class="brand-logo">My blog</a>
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li>
                                    <a href="{% url 'blog.views.post_new' %}" class="top-menu">
                                        <i class="material-icons left">add</i>
                                        <span>New Post</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'post_draft_list' %}" class="top-menu">
                                        <i class="material-icons left">mode_edit</i>
                                        <span>Edit Drafts</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
