{% extends "blog/base.html" %}

{% load material_form %}

{% block content %}
    <div class="card posts">
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="card-content">
                <span class="card-title">New Post</span>
                {% form form=form %}{% endform %}
            </div>

            <div class="card-action">
                <div class="right-align">
                    <button type="submit" title="New post" class="btn btn-primary pull-right orange accent-2">Salvar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
